body {
    --layer-image-toolkit-popup: 1024;
    --layer-image-toolkit-player: 1025;
    --layer-image-toolkit-notice: 1026;
}

.notice-container {
    z-index: var(--layer-image-toolkit-notice);
}

.view-content img {
    cursor: zoom-in !important;
}

.community-plugin-details img {
    cursor: zoom-in !important;
}

.image-toolkit-view-container li::before {
    margin-left: 0;
}

/* .view-content img:active {
    position: inherit !important;
    width: auto !important;
    height: auto !important;
    transform: none !important;
} */

.image-toolkit-img-invert {
    filter: invert(1) hue-rotate(180deg);
    mix-blend-mode: screen;
}

.image-toolkit-view-container {
    position: fixed;
    font-size: 0;
    line-height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, .6);
    z-index: var(--layer-image-toolkit-popup);
    display: none;
}

.image-toolkit-view-container .img-container {
    position: absolute;
    top: 0;
}

.image-toolkit-view-container .img-container .img-view {
    max-height: none;
    /* transition: all .3s ease-out; */
}

.image-toolkit-view-container .img-container .img-view:hover {
    cursor: pointer;
}

.image-toolkit-view-container .img-close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.image-toolkit-view-container .img-tip {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    width: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, .4);
    z-index: 1;
}

.image-toolkit-view-container .img-player {
    display: none;
    top: 0;
    cursor: none;
    background-color: #000;
    text-align: center;
    cursor: pointer;
}

.image-toolkit-view-container .img-player>img {
    float: none;
    max-height: none;
    transform: none;
    margin: 0 auto;
    padding: 0;
}

.image-toolkit-view-container .img-footer {
    position: absolute;
    text-align: center;
    bottom: 5px;
    left: 0;
    right: 0;
}

.image-toolkit-view-container .img-footer .img-title {
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
    opacity: .8;
    color: #fff;
    /* filter: alpha(opacity=80) */
}

.image-toolkit-view-container .img-footer .img-title:hover {
    /* opacity: 1; */
    color: #fff;
    font-size: 13px;
    background-color: rgb(0, 0, 0, .3);
    border-radius: 2px;
    /* filter: alpha(opacity=100) */
}

.image-toolkit-view-container .img-footer .img-toolbar {
    width: 350px;
    height: 30px;
    margin: 0 auto 5px;
    padding: 3px 0;
}

.image-toolkit-view-container .img-footer .img-toolbar:hover {
    background-color: rgb(0, 0, 0, .3);
    border-radius: 12px;
}

.image-toolkit-view-container .img-footer .img-toolbar>li {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    padding: 0;
    line-height: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.image-toolkit-view-container .img-footer .img-toolbar>li:hover {
    animation: bounce .5s cubic-bezier(0.51, 0.23, 0.02, 0.96)
}

@keyframes bounce {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.85, 1.1) translateY(-5px);
    }
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_zoom_im::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_zoom_out::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_full_screen::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_refresh::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_rotate_left::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_rotate_right::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_scale_x::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_scale_y::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_invert_color::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_copy::before {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 25px;
    height: 25px;
    color: transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAZCAYAAAAYPDMRAAAAAXNSR0IArs4c6QAADAZJREFUeF7tXGfMbUUVXeuHxt4I2LBEjRqxIEoEJCCJUUSEEBQBkYiiqCgqYCxYAAUNKgRRFPAJqDwpFhRR0ViwE2yoQKzBrthFMbFkmXWduZk7d87MOfc7973Pj2+Sm/e+e+fMnrLX3nt2OcR6W9+B9R1Y8zvAtbZCScfmayI5913Xulf6/Frbz/X1bP4dkHRfAE8vzaQvbzeBLuk5gcg9AfjzVQDfAvB5kheNsQ1j0QggfW1hTtuQvKY1V0lPAXBhod9xfTZU0kMBHAjgPgAeBGAbAN8In6sBXEvy0615tH6XtA+AhwEwPX+28HkA+FKkR/KG1jil3yXdDsCO4bND+Pc3YdzvAriG5EcWGXtzPiPpEQDeDOD0sfi2Y/8uJLnfWGuV9A4Az62MdyzJ41r0OoEemP5lALxBXc3M+4E+IOjYFANrNBoZ0C2ETjddkgZBrybpMaHj8wF4fm5VoEu6O4AjALwQwC0bhF5N8vVpnyDozgBwGMkzJZ0EwPM4iOQPYl9JdwLwFgDPaND4GYA3kjST9G6S9gJwMgBrkFo7B8BRJP+YzO3eAD4XFMAhvYlugo7hTN8D4B6B3H7LALskKwnzzEVjgD0Zz9PeLedjSQr7vVtrG4tAl/RuAPGwrJGusiQPUt2a6iEAdgraxDTOJHlYi1jG3KPTSIBukC+84emBhXE6gS7J++EDtvZ2+ySAcwFYC7pZQxoEuwDYN3z3/gCUX/vvZN4TOpIMGAN9eriSdg4g3D6McWUQZNeFv28D4JEArIUfH767lOSefc5F0okAXhH6fgrAdwB8GcCfw3d3BWDrLgpC0z+SpK0Ir8HfR6A3Ga/PnMboI8nrfx+A22fjjQr2DJQmtSKwJ+NZW9tKHRfo2YQnGqa04ZKsuc4G8NTw+zkke0nyZdFIAGNGixp50IZnILdFYOYtAj0Dua80p9Q0hSQD0Qe3RwDSISS/2QK6pIMDqG8N4AoAb6iZz5IsdF8Zrlq2aKpXtKAZfIwe+1SSFkTFJmnvIBAeBeDvBj/JjasY6NZ6xdbal76CJuPnCMyFwZ6B3NaoeXA8oKemb99NkGTtYS3mZsa1WdfZlkkjBbrNnKGmVN4/Yd45oEu6GYCvAdhuqPRO5vlTAM8G8Oggtec0OoCHB03uPTUTnUjyny0mzISQBYOBP9ckfQzAEwF8huRjW+P6d0k3D4Ik+kN8h/z+KtXo0QLxv56v93BylRtypasIvmiuu4vv5rbsUj/Rooom8kK0lDqBDuCyxIpLp3pdVL5TSS/JptnXAdwNwDtJPi99QpK10EuDmT4j8SV5YfZs24zcjuSfOpiqSqMhIPrS2JXk5XGsvmDv6idpW5Lfzucm6chwX+5tHmf7+SYARwP4A4C3dQD9NQCOD8/1cghmNNJrxd4kP5r97jO21fI9AE8iGa8BffCeXjnc/1UA7Huwk3bVmO4JH5g/J0Bf1KdU4IEZkNua63AI9wK7pHcBeFbA0pSHGxo9Tqvkh7KQmKw3Bbrd93ZYXEVy28KiOjdK0q2Cx9faZ3+SF3QAvUqjAfReNDroVp0kfYVBwjR3Dtrcd+99SX6oFzKyTolH1RraWjLX6PGJhZlTkp2EpwL4sT31JG1uG6Tez2uDef8ikm9dcA1RAE8Z7qYA9MyPNb3vVyI/Z5N8ZsUysFC2c7urzUSOkgiRn7EV0aXx54B+CoAXl7R5YIyqRJS0AYAXsoHkoR2Aq9JoMVofGpWNNNi3Jmkn4kyTZEvmJ309pYveRwMT7FqYYzQvS0AvSWo7Pzvv0ZnWvmNwptrjvCNJXzcMdPsL7FD7eRAARSussFfRsst/imsoavTgFLukxJANAR9N1z1JXtrikcr5j6bRJe0PIO7/jFOvAnRP7QCS53dgI86vZA3dQNJO8UnLQP6ChsafA3r09B5OchKWknQAgAckE4t3nPjVxhj+kXRUiFN2mm6JN7lGI9+HQTQWZYShzwWwX98nPp8c0NuDk7CL3KEkN0iyk7MWQjuapMNsvZqk80J8346zs8LZRuuqtxM1POd5eX5d7WKSjvNPW9iri4Pne07z9AT6XwDsRfILvRaddcodnouMEdbvEKfN6gcHp+iM76MBdF+RfLWchiUT3pgAveUby0Bun8BWiwI9DelE8HftyxTUfbRcR9hoVBqLHuCmeC74QVLBOUM2dQ4l8fzS1K6MJnifeUt6uZkSwGkkbcpbiDt5xMJ5kNku6ba13IpCrNd5GB9OYtjN5I7CmqJzy/kB+zhS0WfdmbAZRaMn2txJY7uQ/FsHna4pFrV6FBA1oOcgt5JJcNfbdF/X6EO55/+kf0kIl4TuMpaT0Blr+IWcfSNq9CgwziLpvIKZ1tDo7tsVqq1qdElbhjv89U5Sy8jW4uxzprtNOt+t5zzuQQP0vaMfQ9LJF3NNUpVGixOSO3onjdYYK/29oWmvJvm7ldIY+/nkWlXS6NNr1Nh0A9/kGt18VIrrO97dFe9fTRrdyTdPA1Dctx5AP4/kQV0CokujS7JFZsus1Hx/t0afSXsO+RFzQI9AdkbUDiT/0df0kXSHcE+wt357knZulYBepVFjtL40lsGscUxJdlbaodjVLiHpNNJeLcS6t6rFcy1YVhrvTQRk6Y5eFOy9FhA6tea4xu7oMe/A4Uj/f6b1AHoxHNsy3aNl1LrDZ5i18JwDehrjvoCkPYvTJun+AJyPbYeRQzXpb9HjXpRWCVCqNBpA70Wja4wQQtuyFPqR9BUAv2h53bNDLHnDLx8So22Zz2OYm1nos+R1911zZ5I3DgF3cqa97r5rxesu6YSQLFQ1wSt76YSnY7oEREWjT67WKwa6CWeMvDtJZ9xUW/ZMs0psU9AobOIocfRk7jHufS7JVoFJcf+Se7N/L+6bpCcA+DgAg9BgNCgHtWTOtTj6QnF6Sc6bcK67Y/J7kPzEoMltws5jCM2AkRh1uIzk7l2ArSytmD26yTR6IqEdq3Ss1M0e0pNK0j54kDcmRQ7/BnALkv9pnZ+kpdHIM9n6JsNUMuOmmXYps4RqNceoXfZ4eGvNBYZwqafN/PNJOozZJRDinbDar/RwBsRaZtxCgkSSY8m2/KqW3NC9WUb/EYHulGfnIjgFeq5EtGG6/ytci+eiBslztUrLcTR6AvaYnumvrEX8yavXXE3lWKJbzM75PYD7kXTMs9okjU5j2bnuGdCdbOIyUCeiDNKIiVC5kaQLVTqbJBePTJJcnCpL0qWwzRYsBtcd3KsU703OOt45nf56MMkvNgf/n/Xna1z0Otun44KYVdcS5+loue6SnMPgFGi3LbJy3XiVKe3FySQd0iw2SQ5D2t/V1cYFuqmEZBlPqlaPbnPQpY0GeizV/FG4S/yydepj00iBvozqtVwrBBC6us8vf7CJ7YSHoiMy7KlLZ18SXubgr3Yi6aq3asteiOEXV7imvRNYkp4MwGXAjnkPqV77q7MbSX6wwowuk4318u42arlnay+G/p5U5s09OuS+mz8syWXIToV283sDnJSUX3/Tx35L8i5D5x/7j+aMqxyspba96VtHxgm11o7lfTYWsGTVUjZNDiTpiqZmCy9eWDGNBIhLqUcvmX/hCmMJH81vg8TOPWvImAHlnHgXK9gKcrNQsFNzUo/epxXefmOge53T1MggcJzx5vRWt94FN1k9ujO4zLjRkvBYzsW2oIqprqse5AF4rszzWkavR5fkl3RYcLtZsf0wZM3lbzly+XK0APoc91yfpQN9yKwysM+lQg4ZqyJ40oqsGRrZ/Wj0N8wkYJvTYpJcvfW6xhp/BcC5BCeQ9H1tUAsWhE13x3FrbdlvmDFwHJNfleZ6vjGS/NKP98b6/DGtEEl2yLnK0K/fyputteNJxjLuQeeddl5VQA8S1EB0CMJVcL1fyjhkB4JAmaNRcYT4bpOW/RXJhXFLFUS97uCSHpe8xy2+083j2b/hzxlDtHhF2Nkbb4ep02kfGCytZb4zzpaJ52+NZW/zqvWuV/bMTjRbXkt5Z1x4zZf9Kf5YAF5RymkfwucZ0KNTdugQR5A8rflyyKGjbu7+Aewz0xgicFb6/OZe/zr9tbsDJd5srNaZmpMXuK45oK/dY15f2foOLL4D/wUug4eDDtqQwAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_zoom_im::before {
    content: 'Zoom In';
    background-position: 0 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_zoom_out::before {
    content: 'Zoom Out';
    background-position: -25px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_full_screen::before {
    content: 'Full Screen';
    background-position: -50px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_refresh::before {
    content: 'Refresh';
    background-position: -75px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_rotate_left::before {
    content: 'Rotate Left';
    background-position: -100px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_rotate_right::before {
    content: 'Rotate Right';
    background-position: -125px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_scale_x::before {
    content: 'Rotate Right';
    background-position: -150px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_scale_y::before {
    content: 'Rotate Right';
    background-position: -175px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_invert_color::before {
    content: 'Rotate Right';
    background-position: -200px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_copy::before {
    content: 'Rotate Right';
    background-position: -225px 0
}