.view-content img {
    cursor: zoom-in !important;
}

.view-content img:active {
    position: inherit !important;
    width: auto !important;
    height: auto !important;
    transform: none !important;
}

.image-toolkit-view-container {
    position: fixed;
    font-size: 0;
    line-height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, .6);
    z-index: 2021;
    display: none;
}

.image-toolkit-view-container .img-container {
    position: absolute;
    top: 0;
}

.image-toolkit-view-container .img-container .img-view:hover {
    cursor: pointer;
}

.image-toolkit-view-container .img-close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    cursor: pointer;
    /* background-image: url(../img/close.svg); */
}

.image-toolkit-view-container .img-footer {
    position: absolute;
    text-align: center;
    bottom: 5px;
    left: 0;
    right: 0;
}

.image-toolkit-view-container .img-footer .img-title {
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
    opacity: .8;
    /* color: #cacaca; */
    filter: alpha(opacity=80)
}

.image-toolkit-view-container .img-footer .img-title:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.image-toolkit-view-container .img-footer .img-toolbar {
    width: 135px;
    margin: 0 auto 5px;
    padding: 3px 0;
}

.image-toolkit-view-container .img-footer .img-toolbar>li {
    float: left;
    width: 23px;
    height: 23px;
    margin: 0 2px;
    padding: 0;
    line-height: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.image-toolkit-view-container .img-footer .img-toolbar>li:hover {
    background-color: rgba(82, 79, 67, .8)
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_zoom_im::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_zoom_out::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_refresh::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_rotate_left::before,
.image-toolkit-view-container .img-footer .img-toolbar .toolbar_rotate_right::before {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 23px;
    height: 23px;
    color: transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH0AAAAZCAYAAAAc5SFpAAAAAXNSR0IArs4c6QAAByZJREFUaEPtmleoXVUQhr//SbGhYiEWiA1LNEYUG2LBXrA8WBKNBWygYI2oCCpYELvogwXsGpMHewsGY8Eu9oYV7AUVG+jLyH9Z+7juPrudk3tDJHfgPNx991oza/5Za2b9s8WELHEe0BK34okFMwH6EhgEjaBHxKrAwek3GfDvK+BrYD5wl6QPFsZvi0KH7YuIScAJwCbpNwX4LPs9L+nO8loiYktJr1c8nyzpi4rnFwBrA+sCGwDLA68ArwHvAo9L+nkYn0XEysDewKbAVsDWwO/Ax2kdX0qy/lESEaNsrQU9Io4Gzk9Ae5JfgTeBzYGV0qz/AFdJOmfIRYy7jgS4HXEcsEay0063owyMA7uQKyTNKv6ICAfIe8CFuTMj4n5gmqR1snfXAy4HDsrm+xH4ElgLWC09t17Pd/cgPouIwxMeDiTLD2kDOsDyNdi2WZI+zWz73NhJGrGtEvSIsJMMuOUSYK4kAz4iEbEZcDJwfHp0p6QjB1zEuOtIts5JJ5XBuzHttE+ytWwLHALMAFYH5gGnSXo/InYGnq4A3c92ljTiv4iwMw24gX8DeAi4WZJPxMJn+wP7Zj67W9IRXXwWEXcBBt1yE/CoJOso5l4zBbV1bAEYcAPvALB9ASyQtEsl6CXAN5PkI6lSIsJHzWPpn+dKurTjInLAx0VHCfAL04n0W8NanLoc6D59HCAOBO/ORtAjwunPgWXx+i+R9EeDni2B84ADvXEk3dDks4g4CbgeeAC4qCrVZOAvB5wLFCfvIZLmNoKejrMXgRWAfSQ9nk3o3GSDX5X0Z/bc+eUdwAvdUZIjvVaadDQ4aiAdCfCzgMuAWyT5aO8kEXElcHoC3qdZLegpMArARxzcRUlErAg8AWzjdCnp7apxETEVeAt4GdhLklNsq5QC0cFrG6t3ekRcAZzhI0SSi56epBx/K3CmJDsm/9/FKcIuleRIawK9VkfLuEF0bAg8D6wCrFNVcLXomg0cmoB3wVfO6SPHezbHMZJua0VjtM9chBnMeZL2rAH9SWAPB4ckF4OdJcOrGFML+ksp+qZK8u7NgS2O5FEO8AsRMS3lsg8lbdzi0FodLeMG0VHYepukY7p4KiJcnxSFnofslAHbBLpTRy6vSCpSXqPqiHgK2NV5OK+ZSj6dL2m3jmvYJ1X0+etFbVYLuhP+L5J8NTCYywInpmuHH3mCfJGeaEF69xdgxaK4qTMy5ZcmHeWhw+hw1e3jtu/60mJX3b/bdno+rufcNqAi4jTXGkDfSZHt1NMlXd02V8KgfAJV2jWqei8n/Kx6bXVGRIyqaFuc23PMeOjo4qDyOxU7vfdKOXiSzfnxPuxO3w54AbhGkgOgJxFhoE8FtpfkOqtVIqJqpxfjepunCvT//U5v9c5i9EJ5oxWmdd1EwyylDLpzka9hw+b0FyVt32RIRNTqaBlX5PRGHenK6TRV5iC+keQ77mIjZvsSU9e007dquqYNs5gy6EUBVFW9NxVyRWV9tSRfd2ol4wH6dLSMa9VR4hj6pmurN0rHq9c7xyRNQ6ryHX3KILVDSYeLRxNGTTn9hGGDNfnjvfJVsgy6KT7fGZeuuKc7h/nXyw1eQEQUd2gXcru3RWVE1OpocG4nHSXQXWA+k83ZeadHhK+mJmn6biol0IrCaeArW/KdeZC9Wqr3JyT59B1IskKwr7Dso2GzAsJKBmHLLpN0dhfLxktHBroZNd+v75N0WBebslxqZs5ctaWRcIkIz30v4MaLd/xfXXVFhGnr2zve04+SdMcAcy+TOAavZbok8w49qePe89K/C/fuCR80oSHp7y7GFYVKendMdGSgm2M2dWng3RAy4dRJIuJm4FjgOUk7tg2KCINu8BtPhdIJ4Vzujp45jS6MnDuZM9tO0Sxwi1Q8W9L08hqaumxFvinGVHXZTL2anXORdUBqtzqy3F1qlXRNck4bEx0l0N2FMv1o4M2WGZS+VmjmKFPPrkcKMmOSpO/aFpFo5ULPDZJM3dZKROwHOH2YLRyEe/8p5f5HWuZ3sJuvH+kfVNUkbf30jVKr0N0bd6MKcffoFu9uc+0RsZQ7P4ldMrU4Q5J71a0SEWOmIwfdpFECxPddU5nfA/ek4sys4IhExPrpxmLa2QHiWsD2f9tq/H9zmAwqgDd1+qwbJLnDEx/urpp9aRm2y+bumr9j6PH8aZ1u4PhkMqVbC7gVd/5yJn3s4NbhF1U7IP3/4UTjvi7JTf6BZGF1ZKA7v/aq7ohw2/PMzBifRA5KF5Uj7KOZSOC6hajEDfwpWeu0bu1j1U+vm9/X0mubbh2dQe+CXkT4owRH/O9F77bLuEHeadPR8KXLTGCH9OGE7fTPx7d3tHe+HfXRILZUvZvu3u5sOaDcJfMHDuP55YwD2DcuB5OvmH1f+ZTtHFPQF9ZhE+MXjQcmQF80fl6stEyAvljBsWiM+RftaAdWuWkW4wAAAABJRU5ErkJggg==);
    background-repeat: no-repeat
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_zoom_im::before {
    content: 'Zoom In';
    background-position: 0 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_zoom_out::before {
    content: 'Zoom Out';
    background-position: -25px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_refresh::before {
    content: 'Refresh';
    background-position: -50px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_rotate_left::before {
    content: 'Rotate Left';
    background-position: -75px 0
}

.image-toolkit-view-container .img-footer .img-toolbar .toolbar_rotate_right::before {
    content: 'Rotate Right';
    background-position: -100px 0
}